body {
    color: #1d1d1d;
    background-color: #800080;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #1b1b1b;
}

main {
    background-color: #ba55d3;
}

input{
    background-color:#f0f0f0;
    border:none;
}

input::placeholder{
    color: #111;
}
form button{
    color: #FFF;
    background-color:#1b1b1b;
}

form button:hover{
    color: #FFF;
    background-color:#505050;
}

